html {
    width: 1128px;
    margin: 0 auto;

}

body {
    background-color: rgb(192, 191, 189); 
}
   

header {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: white;
    height: 300px;
    text-align: left;
}

.caixa1 {
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.caixa2 {
    width: 100%;
    height: 240px;
    background-color: white;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.caixa3 {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.caixa4 {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.box01 {
    margin-left: 30px;
    float: left;
    width: 523px;
    background-color: rgb(109, 105, 105);
    height: 180px;
    margin-top: 10px;
    margin-right: 22px;
}

.box02 {
    margin-right: 30px;
    float: right;
    width: 523px;
    background-color: rgb(109, 105, 105);
    height: 180px;
    margin-top: 10px;
}

.box03 {
    margin-left: 30px;
    float: left;
    width: 342px;
    background-color: rgb(109, 105, 105);
    height: 220px;
    margin-top: 10px;
}

.box04 {
    margin-left: 21px;
    margin-right: 21px;
    width: 342px;
    background-color: rgb(109, 105, 105);
    height: 220px;
    margin-top: 10px;
}

.box05 {
    margin-right: 30px;
    float: right;
    width: 342px;
    background-color: rgb(109, 105, 105);
    height: 220px;
    margin-top: 10px;
}

.box06 {
    margin-left: 30px;
    float: left;
    width: 252px;
    background-color: rgb(109, 105, 105);
    height: 100px;
    margin-top: 10px;
    margin-right: 20px;
}

.box07 {
    margin-right: 20px;
    float: left;
    width: 252px;
    background-color: rgb(109, 105, 105);
    height: 100px;
    margin-top: 10px;
}

.box08 {
    margin-right: 20px;
    float: right;
    width: 252px;
    background-color: rgb(109, 105, 105);
    height: 100px;
    margin-top: 10px;
}

.box09 {
    margin-right: 30px;
    float: right;
    width: 252px;
    background-color: rgb(109, 105, 105);
    height: 100px;
    margin-top: 10px;
}

.box10 {
    margin-left: 302.5px;
    width: 523px;
    background-color: rgb(109, 105, 105);
    height: 60px;
    margin-top: 10px;
}

footer {
    width: 100%;
    margin-top: 8px;
    background-color: white;
    height: 50px;
    text-align: center;
    font-size: 22px;
}

.foto1{
    height: 250px;
    width: 250px;
    float: right;
    margin: 25px;
}

.txt1 {
    color: black;
    
    margin: 25px;
    font-family: cursive;
}

li {
    display: inline;
    margin: 50px;

}

li :hover {
    color: white;
    border: 4px solid black;
    text-decoration: underline;
    background: black;
}

ul {
    padding-top: 12px;
}

a {
    color: black; 
    text-decoration: none;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
}

.boxes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.top {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: left;
    margin-left: 25px;
    margin-top: 5px;
}

.topp {   
    margin-top: 25px;
    float: left;
}

.bot {   
    float: left;
    margin-left: 100px;
}

.title1 {
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    margin-top: 15px;
}

h3 {
    font-size: 20px;
    float: left;
    margin: 15px;
    color: black;
    font-family: cursive;
}

.txt2 {
    margin: 25px;
    margin-top: 30px;
}

.txt3 {
    margin: 25px;
    margin-top: 20px;
}

.notes {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(192, 191, 189);
    height: 10px;
    font-size: 20px;
    position: relative;
    left: 1100px;
    bottom: 20px;
}